<!doctype html>
<html>
<head>
    <title><%= game.name %> | Play</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <script type="text/javascript" src="http://canvasengine.net/cdn/dev/canvasengine-latest.all.min.js"></script>
    <script type="text/javascript" src="http://rpgjs.com/cdn/rpgjs-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/game.js"></script>
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Play Old Bones</h1>
        <a href="/profile" class="btn btn-default btn-sm">Play</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <canvas></canvas>
    </div>
    <div class="row">
    
    </div>

</div>
</body>
</html>
